.foodTitle {
  width: 100%;
  background-color: rgba(71, 151, 255, 0.5);
}

.buttonStart {
  width: 95%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .9;
}

.buttonStart:hover {
  opacity: 1
}

#startButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.arrowButton {
  width: 80px;
  height: auto;
  opacity: .9;
}

.arrowButton:hover {
  opacity: 1
}


.aboutMe {
  text-align: center;
}

.eventTitle {
  width: 100%;
  background-color: rgba(99, 248, 156, 0.5);
}

.foodContainer {
  width: 100% !important; 
}

.foodCSS {
  /* width: 200px;
  height: 300px; */
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

.eventCSS {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

.eventCSS2 {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.slidecontainer {
  align-content: center;
  text-align: center;
}

.slidecontainer:hover {
  align-content: center;
  text-align: center;
  font-weight: bold;
  /* color: rgb(126, 58, 58); */
}

.slidecontainer:active {
  align-content: center;
  text-align: center;
  font-weight: bold;
  /* color: rgb(126, 58, 58); */
}

label {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(105, 10, 10));
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  margin-top: -15px;
  border-radius: 0;
}

input[id=safetyLvl]::-webkit-slider-thumb {
  background: url('../images/slider1icon.png') no-repeat;
  background-size: 40px;
}

input[id=moneyLvl]::-webkit-slider-thumb {
  background: url('../images/slider2icon.png') no-repeat;
  background-size: 40px;
}

input[id=socialLvl]::-webkit-slider-thumb {
  background: url('../images/slider3icon.png') no-repeat;
  background-size: 40px;
}

input[id=safetyLvl]::-webkit-slider-thumb:hover {
  background-size: 45px;
}

input[id=moneyLvl]::-webkit-slider-thumb:hover {
  background-size: 45px;
}

input[id=socialLvl]::-webkit-slider-thumb:hover {
  background-size: 45px;
}

input[id=safetyLvl]::-webkit-slider-thumb:active {
  background-size: 50px;
}

input[id=moneyLvl]::-webkit-slider-thumb:active {
  background-size: 50px;
}

input[id=socialLvl]::-webkit-slider-thumb:active {
  background-size: 50px;
}

html, body {
  height: 100%;
}

.row {
  align-content: center;
}

.genDes
{
  text-transform:capitalize;
}

.foodSelected {
  box-shadow: 10px 10px 5px grey;
}

.actSelected {
  box-shadow: 10px 10px 5px grey;
}

.dragContainer {
  min-height: 200px;
  width: 100%;
  background-color: #f7d262;
}
.dragContainer2 {
  min-height: 200px;
  width: 100%;
  background-color: #e29b4a;
}

.scheduleContainer {
  display:block;
  width: 100%;
  margin: 0 auto;
}

.table {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.fudStyle {
  width: 100%;
  height: 100%;
}

.firstbg {
  background: url('../../assets/images/firstpg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
}

.containerWrap, .containerWrap2, .containerWrap3, .containerWrap4, .containerWrap5 {
  border-style: groove; 
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.containerWrap {
  border: 5px solid rgba(126, 58, 58, 0.7);
  background: rgba(0, 0, 0, 0.4);
  width: 75%;
}

.containerWrap2 {
  border: 5px solid rgba(126, 58, 58, 0.7);
  background: rgba(225, 225, 225, 0.2);
  width: 100%;
}

.containerWrap3 {
  border: 5px solid rgba(68, 58, 126, 0.7);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  width: 95%;
}

.containerWrap4 {
  border: 5px solid rgba(9, 66, 66, 0.7);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  width: 95%;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 0%;
  transform: translate(0%, -50%);
  color: white;
}


.foodStyle {
  min-height: 50px;
}

.eventStyle {
  display: block;
  min-height: 80px;
  white-space: nowrap;
}

.secondPage {
  opacity: .90;
  font-size: 18px;
}

.foodPage, .eventPage, .scheduler {
  opacity: .92;
  font-size: 18px;
}

.scheduler {
  object-fit: cover;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.btn, table, .dragContainer, .dragContainer2 {
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
}

.btn:hover{
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.flightsB:hover {
  box-shadow:
  1px 1px #8a4a5a,
  2px 2px #8a4a5a,
  3px 3px #8a4a5a;
}

.restartButton:hover {
  box-shadow:
  1px 1px #ad1f43,
  2px 2px #ad1f43,
  3px 3px #ad1f43;
}

.eventsB:hover, .eventButton:hover, .actScheduleB:hover {
  box-shadow:
  1px 1px #059b75,
  2px 2px #059b75,
  3px 3px #059b75;
}

.foodPlacesB:hover, .foodButton:hover, .foodScheduleB:hover {
  box-shadow:
  1px 1px #453a70,
  2px 2px #453a70,
  3px 3px #453a70;
}

.scheduleButton:hover{
  box-shadow:
  1px 1px #a3ad0e,
  2px 2px #a3ad0e,
  3px 3px #a3ad0e;
}

.destinationB:hover {
  box-shadow:
  1px 1px #1f806b,
  2px 2px #1f806b,
  3px 3px #1f806b;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.openingPage {
  color: white;
}

.destination {
  position: relative;
  float: left;
  display: block;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
}

.flightsB {
  height: 130px;
  margin: 1% 1% 0% 1%;
  padding: 1%;
  opacity: .90;
}

.restartButton {
  height: 130px;
  padding: 1%;
  opacity: .90;
  margin: 1% 1% 0% 1%;
}

.scheduleButton, .eventButton, .foodButton {
  height: 130px;
  padding: 1%;
  opacity: .90;
  margin: 1% 1% 0% 1%;
}

.eventsB {
  background-color: #D3EDDA;
  min-width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  overflow: overlay;
}
.eventsB:active {
  background-color: rgb(211, 237, 218, .2);
}

.foodPlacesB {
  background-color: #CCE5FF;
  min-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  overflow: overlay;
}

.foodPlacesB:active {
  background-color: rgb(204, 229, 255, .2);
}

.destinationB {
  background-color: #D1ECF1;
  min-width: 25%;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
}

.destinationB:active {
  background-color: rgb(209, 236, 241, .2);
}

#tripInfo {
  white-space: normal;
  height: 400px;
  overflow:overlay;
  margin-bottom: 0%;
  font-size: 22px;
}

#map {
  height: 250px;
  width: 95%;
  margin: 0% auto 1% auto;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  opacity: .90;
}

.mainContent {
  align-content: center;
  margin: 0% .5%;
  padding: 1%;
}

.top{
  align-content: center;
}
.revealButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: .5%;
  padding: 1%;
  opacity: .90;
}

.revealButton:hover {
  box-shadow:
  1px 1px #8a4a5a,
  2px 2px #8a4a5a,
  3px 3px #8a4a5a;
}

.food:hover {
  color: black;
  font-weight: bold;
}

.table, .dragContainer, .dragContainer2 {
  display: block;
  width: 100%;
  margin: 0 auto;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
}

.scheduler {
  align-content: center;
}

.scheduleTitle {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  padding: 0%;
}

.scheduleContainer {
  margin-top: 0%;
}
table {
  background: rgba(208, 248, 99, 0.5)
}

th, tr {
  color: white;
  font-weight: bold;
  max-width: 25%;
}

.containerWrap5 {
  border: 5px solid rgba(182, 201, 99, 0.85);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  max-width: 60%;
}

.dragContainer.hover, .dragContainer2.hover, .dragContainer2.active, .dragContainer.active {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

table, tbody, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
}

.spinner-grow{
  display: block;
  margin: 25% auto 0;
  color: white;
}