.foodpage {
  width: 100%;
}

.foodTitle {
  width: 100%;
  background-color: #77b6f4;
}

.buttonStart {
  width: 95%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#startButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.aboutMe {
  text-align: center;
}

.eventTitle {
  width: 100%;
  background-color: #83db99;
}
.foodContainer {
  width: 100% !important; 
}

.arrowButton {
  width: 80px;
  height: auto;
}
.foodCSS {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.eventCSS {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.eventCSS2 {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.slidecontainer {
  align-content: center;
  text-align: center;
}

label {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.eventsB {
  background-color: #D3EDDA;
}

.foodPlacesB {
  background-color: #CCE5FF;
}

.destinationB {
  background-color: #D1ECF1;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  margin-top: -15px;
  border-radius: 0;
}

input[id=safetyLvl]::-webkit-slider-thumb {
  background: url('../images/slider1icon.png') no-repeat;
  background-size: 40px;
}

input[id=moneyLvl]::-webkit-slider-thumb {
  background: url('../images/slider2icon.png') no-repeat;
  background-size: 40px;
}

input[id=socialLvl]::-webkit-slider-thumb {
  background: url('../images/slider3icon.png') no-repeat;
  background-size: 40px;
}

#map {
    display: block;
    width: 95%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

html, body {
    height: 100%;
}

.genDes
{
  text-transform:capitalize;
}

.foodSelected {
  box-shadow: 10px 10px 5px grey;
}