.foodpage {
  width: 100%;
}

.foodTitle {
  width: 100%;
  background-color: #77b6f4;
}

.buttonStart {
  width: 95%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .9;
}

.buttonStart:hover {
  opacity: 1
}

#startButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.aboutMe {
  text-align: center;
}

.eventTitle {
  width: 100%;
  background-color: #83db99;
}

.scheduleTitle {
  width: 100%;
  background-color: #f7d262;
}
.foodContainer {
  width: 100% !important; 
}

.arrowButton {
  width: 80px;
  height: auto;
}
.foodCSS {
  /* width: 200px;
  height: 300px; */
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

.eventCSS {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

.eventCSS2 {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.slidecontainer {
  align-content: center;
  text-align: center;
}

.slidecontainer:hover {
  align-content: center;
  text-align: center;
  font-weight: bold;
  color: rgb(126, 58, 58);
}

.slidecontainer:active {
  align-content: center;
  text-align: center;
  font-weight: bold;
  color: rgb(126, 58, 58);
}

label {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.eventsB {
  background-color: #D3EDDA;
  min-height: 300px;
}

.flightsB {
  margin: 0%;
}

.foodPlacesB {
  background-color: #CCE5FF;
  min-height: 300px;
}

.destinationB {
  background-color: #D1ECF1;
  min-height: 300px;
}

#tripInfo {
  white-space: normal;
  height: 300px;
  overflow:overlay
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#map{
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 12px; 
  
    /* Firefox 1-3.6 */
    -moz-border-radius: 12px; 
    
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 12px; 
}

.slider:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  margin-top: -15px;
  border-radius: 0;
}

input[id=safetyLvl]::-webkit-slider-thumb {
  background: url('../images/slider1icon.png') no-repeat;
  background-size: 40px;
}

input[id=moneyLvl]::-webkit-slider-thumb {
  background: url('../images/slider2icon.png') no-repeat;
  background-size: 40px;
}

input[id=socialLvl]::-webkit-slider-thumb {
  background: url('../images/slider3icon.png') no-repeat;
  background-size: 40px;
}

input[id=safetyLvl]::-webkit-slider-thumb:hover {
  background-size: 50px;
}

input[id=moneyLvl]::-webkit-slider-thumb:hover {
  background-size: 50px;
}

input[id=socialLvl]::-webkit-slider-thumb:hover {
  background-size: 50px;
}

input[id=safetyLvl]::-webkit-slider-thumb:active {
  background-size: 50px;
}

input[id=moneyLvl]::-webkit-slider-thumb:active {
  background-size: 50px;
}

input[id=socialLvl]::-webkit-slider-thumb:active {
  background-size: 50px;
}

#map {
    display: block;
    width: 95%;
    height: 20%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

html, body {
    height: 100%;
}

.genDes
{
  text-transform:capitalize;
}

.foodSelected {
  box-shadow: 10px 10px 5px grey;
}

.actSelected {
  box-shadow: 10px 10px 5px grey;
}

table.table-bordered > thead > tr > th{
  border:1px solid black;
}
table.table-bordered > tbody > tr > td{
  border:1px solid black;
}

.dragContainer {
  min-height: 200px;
  width: 100%;
  background-color: #f7d262;
}
.dragContainer2 {
  min-height: 200px;
  width: 100%;
  background-color: #e29b4a;
}

.scheduleContainer {
  width: 100%;
}

.fudStyle {
  width: 100%;
  height: 100%;
}

.firstbg {
  background: url('../../assets/images/firstpg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
}

.containerWrap {
  border: 5px solid rgba(126, 58, 58, 0.7);
  border-style: groove; 
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 0%;
  transform: translate(0%, -50%);
  color: white;
}

.foodStyle {
  min-height: 50px;
}

.eventStyle {
  display: block;
  min-height: 150px;
  white-space: nowrap;
}
